.myPage_mainbox1{
    display: flex;
width: 1920px;
padding: 0px 605px;
flex-direction: column;
align-items: center;
background: #FFF;
}
.myInner{
    display: flex;
width: 710px;
padding: 120px 0px 40px 0px;
flex-direction: column;
align-items: center;
gap: 48px;
}
.myInner_title{
    display: flex;
flex-direction: column;
align-items: center;
gap: 24px;
align-self: stretch;
color: var(--mono-color-111, #111);
text-align: center;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: 58px; /* 120.833% */
letter-spacing: -0.192px;
}
.myInner_profile{
    display: flex;
padding: 40px 0px;
justify-content: center;
align-items: center;
gap: 16px;
align-self: stretch;
}
.profile_picture{
    display: flex;
width: 100px;
height: 100px;
justify-content: center;
align-items: center;
border-radius: 999px;
border: 1px solid var(--mono-color-ccc, #CCC);
background: var(--mono-color-fff, #FFF);
}
.profile_picture>img{
    display: flex;
width: 48px;
height: 48px;
justify-content: center;
align-items: center;
flex-shrink: 0;
}
.profile_info{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 12px;
}
.profile_title{
    display: flex;
padding: 4px 12px;
justify-content: center;
align-items: center;
gap: 2px;
border-radius: 1000px;
background: var(--main-color-120, #EF353A);
color: var(--point-color-5, #FFFDF4);
text-align: center;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 17px; /* 141.667% */
letter-spacing: -0.048px;
}
.profile_name{
    display: flex;
align-items: center;
gap: 8px;
}
.profile_name>span{
    color: var(--mono-color-333, #333);
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 25px; /* 138.889% */
letter-spacing: -0.072px;
}
#edit_gear{
    display: flex;
width: 24px;
height: 24px;
justify-content: center;
align-items: center;
}
#edit_gear:hover{
    cursor: pointer;
}
.profile_count{
    display: flex;
align-items: center;
gap: 8px;
}
.profile_count>div{
    display: flex;
align-items: center;
gap: 4px;
}
.profile_count>div>label{
    margin-bottom: 0;
    color: var(--mono-color-808080, #808080);
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 22px; /* 137.5% */
letter-spacing: -0.064px;
}
.profile_count>div>span{
    color: var(--mono-color-333, #333);
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 25px; /* 138.889% */
letter-spacing: -0.072px;
}
#profile_follow:hover, #profile_follow>label:hover, #profile_follow>span:hover,
#profile_following:hover, #profile_following>label:hover, #profile_following>span:hover{
    cursor: pointer;
}
.myTabMenu{
    display: flex;
    width: 710px;
    justify-content: space-between;
    align-items: flex-start;
}
.subTabMenu{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 16px;
flex: 1 0 0;
color: var(--mono-color-bfbfbf, #BFBFBF);
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 25px; /* 138.889% */
letter-spacing: -0.072px;
}
.subTabMenu:hover{
    cursor: pointer;
}
.active{
    color: var(--mono-color-111, #111);
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 25px; /* 138.889% */
letter-spacing: -0.072px;
    border-bottom: 2px solid #111;
}

.myPage_mainbox2{
    width: 1920px;
    display: inline-flex;
flex-direction: column;
align-items: center;
gap: 48px;
background: var(--mono-color-fafafa, #FAFAFA);
}
.myPage_mainbox2>.myPage_content:first-of-type{
    margin-top: 48px;
}
.myPage_content{
    display: flex;
width: 710px;
padding: 16px;
flex-direction: column;
align-items: center;
gap: 16px;
border-radius: 8px;
border: 1px solid var(--mono-color-e-6-e-6-e-6, #E6E6E6);
background: var(--mono-color-fff, #FFF);
}
.myPage_mainbox2>.bannerBox{
    background: var(--mono-color-e-6-e-6-e-6, #E6E6E6);
}
.content_title{
    display: flex;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    color: var(--mono-color-333, #333);
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 25px; /* 138.889% */
letter-spacing: -0.072px;
justify-content: space-between;
}
.content_title>div{
    display: flex;
width: 24px;
height: 24px;
justify-content: center;
align-items: center;
}
.content_title>div>img{
    width: 24px;
height: 24px;
flex-shrink: 0;
}
.content_title>img{
    margin-left: auto;
}
.content_item{
    display: flex;
    padding: 16px 0px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    color: var(--mono-color-333, #333);
text-align: center;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
letter-spacing: -0.056px;
}
.content_item>div{
    display: flex;
width: 48px;
height: 48px;
justify-content: center;
align-items: center;
flex-shrink: 0;
}
.content_item>div>img{
    width: 48px;
height: 48px;
flex-shrink: 0;
}
.content_item>button{
    display: flex;
padding: 15px 16px;
justify-content: center;
align-items: center;
gap: 4px;
flex: 1 0 0;
border-radius: 8px;
border: 1px solid var(--mono-color-e-6-e-6-e-6, #E6E6E6);
background: var(--mono-color-fff, #FFF);
color: var(--mono-color-333, #333);
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 22px; /* 137.5% */
letter-spacing: -0.064px;
}

.myPage_mainbox3{
    width: 1920px;
    display: inline-flex;
flex-direction: column;
align-items: center;
gap: 48px;
background: var(--mono-color-fafafa, #FAFAFA);
}
.reviewInner{
    margin-top: 48px;
    display: flex;
flex-direction: column;
align-items: center;
gap: 20px;
}
.review_title{
    display: flex;
justify-content: space-between;
align-items: center;
align-self: stretch;
}
.review_title_count{
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--mono-color-808080, #808080);
text-align: center;
font-family: "Pretendard Variable";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 22px; /* 137.5% */
letter-spacing: -0.064px;
}
.review_title_count>span{
    color: var(--mono-color-333, #333);
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 25px; /* 138.889% */
letter-spacing: -0.072px;
}
.review_title_filter{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.review_title_filter>a{
    color: var(--mono-color-808080, #808080);
text-align: center;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
letter-spacing: -0.056px;
}
.review_title_filter>a:hover{
    color: var(--main-color-100, #FF4147);
text-align: center;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 20px; /* 142.857% */
letter-spacing: -0.056px;
text-decoration-line: underline;
}
.review_title_filter>a:first-of-type{
    color: var(--main-color-100, #FF4147);
text-align: center;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 20px; /* 142.857% */
letter-spacing: -0.056px;
text-decoration-line: underline;
}
.review_tab{
    display: flex;
align-items: flex-start;
gap: 8px;
align-self: stretch;
}
.review_tab_btn{
    display: flex;
    padding: 4px 12px;
    justify-content: center;
    align-items: center;
    gap: 4px;
border-radius: 1000px;
border: 1px solid var(--mono-color-e-6-e-6-e-6, #E6E6E6);
background: var(--mono-color-fff, #FFF);
color: var(--mono-color-333, #333);
text-align: center;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
letter-spacing: -0.056px;
}
.review_tab_btn>span{
    color: var(--mono-color-333, #333);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; /* 137.5% */
    letter-spacing: -0.064px;
}
.review_tab_btn:first-of-type{
    border-radius: 1000px;
background: var(--mono-color-333, #333);
color: var(--mono-color-fff, #FFF);
text-align: center;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
letter-spacing: -0.056px;
}
.review_tab_btn:first-of-type>span{
    color: var(--main-color-120, #EF353A);
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 22px; /* 137.5% */
letter-spacing: -0.064px;
}
.review_contents{
    display: flex;
width: 710px;
justify-content: space-between;
align-items: flex-start;
align-content: flex-start;
row-gap: 20px;
flex-wrap: wrap;
}
.review_contents_item{
    display: flex;
width: 223px;
height: 290px;
padding: 210px 16px 16px 16px;
flex-direction: column;
justify-content: flex-end;
align-items: center;
flex-shrink: 0;
border-radius: 8px;
background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(180deg, rgba(0, 0, 0, 0.00) 69.42%, rgba(0, 0, 0, 0.80) 100%), url(<path-to-image>) lightgray 50% / cover no-repeat;
}
.review_contents_item_title{
    display: flex;
width: 191px;
flex-direction: column;
align-items: flex-start;
gap: 2px;
color: var(--mono-color-fff, #FFF);
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 22px; /* 137.5% */
letter-spacing: -0.064px;
}
.review_contents_btn{
    width: 710px;
    display: flex;
    padding: 10px 14px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    flex: 1 0 0;
    border-radius: 8px;
border: 1px solid var(--mono-color-e-6-e-6-e-6, #E6E6E6);
background: var(--mono-color-fff, #FFF);
color: var(--mono-color-333, #333);
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 22px; /* 137.5% */
letter-spacing: -0.064px;
}
.review_contents_btn>img{
    width: 16px;
height: 16px;
}
.myPage_mainbox3 .bannerBox{
    background: var(--mono-color-e-6-e-6-e-6, #E6E6E6);
}

.myPage_mainbox4{
    width: 1920px;
    display: inline-flex;
flex-direction: column;
align-items: center;
gap: 48px;
background: var(--mono-color-fafafa, #FAFAFA);   
}
.theme_content_btn{
    display: flex;
width: 348px;
padding: 15px 16px;
justify-content: center;
align-items: center;
gap: 4px;
}
.theme_contents{
    display: flex;
justify-content: center;
align-items: center;
gap: 10px;
align-self: stretch;
}
.theme_img{
    display: flex;
width: 80px;
height: 80px;
justify-content: center;
align-items: center;
border-radius: 8px;
border: 1px solid var(--mono-color-ccc, #CCC);
background: url(<path-to-image>) lightgray 50% / cover no-repeat, #FFF;
}
.theme_info{
    width: 586px;
    height: 58px;
    display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 8px;
flex: 1 0 0;
color: var(--mono-color-333, #333);
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 25px; /* 138.889% */
letter-spacing: -0.072px;
}
.theme_info>div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.theme_info>div>div{
    display: flex;
justify-content: center;
align-items: center;
gap: 4px;
color: var(--mono-color-333, #333);
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 25px; /* 138.889% */
letter-spacing: -0.072px;
}
.theme_info>div>div>img{
    width: 24px;
    height: 24px;
}
.theme_info>div>div:last-of-type{
    color: var(--mono-color-333, #333);
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 22px; /* 137.5% */
letter-spacing: -0.064px;
}
.theme_info>div>div:last-of-type>img{
    width: 20px;
    height: 20px;
}
.theme_info>div>span{
    color: var(--mono-color-333, #333);
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
letter-spacing: -0.056px;
}
.theme_info>img{
    width: 24px;
    height: 24px;
}

.footer{
    margin: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    background: var(--mono-color-fafafa, #FAFAFA);
}
