@font-face {
    font-family: 'NonKoreanFont';
    src: local('Montserrat'), url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
    unicode-range: U+0000-007F, U+0080-00FF, U+0100-017F, U+0180-024F, U+0250-02AF, U+02B0-02FF, U+0300-036F, U+0370-03FF, U+0400-04FF, U+0500-052F, U+1E00-1EFF, U+2000-206F, U+2070-209F, U+20A0-20CF, U+20D0-20FF, U+2100-214F, U+2150-218F, U+2190-21FF, U+2200-22FF, U+2300-23FF, U+2400-243F, U+2440-245F, U+2460-24FF, U+2500-257F, U+2580-259F, U+25A0-25FF, U+2600-26FF, U+2700-27BF, U+27C0-27EF, U+27F0-27FF, U+2900-297F, U+2A00-2AFF, U+2B00-2BFF, U+2C00-2C5F, U+2C60-2C7F, U+2C80-2CFF, U+2D00-2D2F, U+2D30-2D7F, U+2D80-2DDF, U+2DE0-2DFF, U+2E00-2E7F, U+2E80-2EFF, U+2F00-2FDF, U+2FF0-2FFF, U+3000-303F, U+3040-309F, U+30A0-30FF, U+3100-312F, U+3130-318F, U+3190-319F, U+31A0-31BF, U+31C0-31EF, U+31F0-31FF, U+3200-32FF, U+3300-33FF, U+3400-4DBF, U+4DC0-4DFF, U+4E00-9FFF, U+A000-A48F, U+A490-A4CF, U+A4D0-A4FF, U+A500-A63F, U+A640-A69F, U+A6A0-A6FF, U+A700-A71F, U+A720-A7FF, U+A800-A82F, U+A830-A83F, U+A840-A87F, U+A880-A8DF, U+A8E0-A8FF, U+A900-A92F, U+A930-A95F, U+A960-A97F, U+A980-A9DF, U+A9E0-A9FF, U+AA00-AA5F, U+AA60-AA7F, U+AA80-AADF, U+AAE0-AAFF, U+AB00-AB2F, U+AB30-AB6F, U+AB70-ABBF, U+ABC0-ABFF, U+AC00-D7AF, U+D7B0-D7FF, U+F900-FAFF, U+FB00-FB4F, U+FB50-FDFF, U+FE00-FE0F, U+FE10-FE1F, U+FE20-FE2F, U+FE30-FE4F, U+FE50-FE6F, U+FE70-FEFF, U+FF00-FFEF, U+FFF0-FFFF;
}
body {
    position: relative;
    font-family: "Pretendard Variable", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif !important;
}
.non-korean {
    font-family: 'NonKoreanFont', 'Gowun Dodum', sans-serif !important;
}

.header{
    display: flex;
    width: 1920px;
    padding: 0px 240px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--mono-color-e-6-e-6-e-6, #E6E6E6);
    background: var(--mono-color-fff, #FFF);
}

.header2{
    display: flex;
padding: 0px 20px;
align-items: center;
flex: 1 0 0;
align-self: stretch;
}
#header2_home_btn:hover{
	cursor:pointer;
}
.toolbar{
    display: flex;
    width: 1440px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}
.toolbar img{
    width: 20px;
    height: 20px;
}

.logoBox{
    display: flex;
    width: 100px;
    align-items: center;
    gap: 4px;
    flex-shrink: 0;
    align-self: stretch;
    color: var(--mono-color-333, #333);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 31px; /* 129.167% */
    letter-spacing: -0.096px !important;
}
.logoBox>a{
    width: 105px;
height: 38px;
flex-shrink: 0;
}
#logo{
    width: 102.537px;
height: 27.512px;
flex-shrink: 0;
}
.hdtextBox{
    width:413px;
    height: 65px;
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: -0.072px;
    margin-right: -120px;
}
.hdtextBox>div:first-of-type,
.hdtextBox>div:last-of-type{
    display: flex;
    padding: 20px 10px;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.hdtextBox>div:first-of-type{
    width: 202px;
}
.hdtextBox>div:last-of-type{
    width: 186px;
}
#line{
    width: 1px;
    height: 16px;
    background: #BFBFBF;
}
.loginBox{
    display: flex;
    width: 240px;
    padding: 20px 10px;
    justify-content: flex-end;
    align-items: center;
    gap: 4px;
    flex-shrink: 0;
}
.loginBox a{
    color: #333;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; /* 137.5% */
    letter-spacing: -0.064px;
}
.loginBox a:hover{
    text-decoration: none;
}


#container{
    width: 710px;
    display: inline-flex;
    padding: 120px 0px;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    margin: 605px, 65px, 173px, 606px;
    position: relative;
    top: 65px;
    left: 605px;
    right: 606px;
}

#containerM{
    display: flex;
width: 1920px;
flex-direction: column;
align-items: center;

}
#containerA{
    display: inline-flex;
    align-items: flex-start;
}

p{
    color: var(--mono-color-111, #111);
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 58px; /* 120.833% */
    letter-spacing: -0.192px;
}

.bannerBox{
    display: flex;
width: 710px;
padding: 38px 315px;
justify-content: center;
align-items: center;
gap: 10px;
background: var(--mono-color-fafafa, #FAFAFA);
color: var(--main-color-120, #EF353A);
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 25px; /* 138.889% */
letter-spacing: -0.072px;
}

#secondaryBox{
    width: 348px;
    height: 52px;
    display: flex;
    align-items: flex-start;
}
#nextbtn, #join_nextbtn,
#login_btn{
    width: 100%;
}
.footer{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
flex-direction: column;
align-items: center;
gap: 30px;
flex-shrink: 0;
}
.footTop{
    display: flex;
align-items: center;
gap: 8px;
color: var(--mono-color-808080, #808080);
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 22px; /* 137.5% */
letter-spacing: -0.064px;
}
.footTop>img{
    width: 4px;
    height: 4px;
}
.footBottom{
    margin-top: 20px;
    color: #bbb;
    font-size: 15px;
    text-align: center;
}
#footLogo{
    width: 105px;
height: 38px;
}

/* 

tbody th {
  text-align:center;
  border-bottom: 1px solid #ddd; �씪�옄 �븘�옒�뿉 �꽑�쓣 異붽��빀�땲�떎.
}

�몴 �궡�슜 �� �뒪���씪
tbody td {
  padding: 8px; �궡�슜 ���쓽 �뙣�뵫�쓣 議곗젙�빀�땲�떎.
  text-align: center;
  border-bottom: 1px solid #ddd;
}

�엯�젰 �븘�뱶 �뒪���씪
input[type="time"] {
  width: 70%; �엯�젰 �븘�뱶 �꼫鍮꾨�� 70%濡� �꽕�젙�빀�땲�떎.
  padding: 6px; �뙣�뵫 �겕湲곕�� 議곗젙�븷 �닔 �엳�뒿�땲�떎.
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

�엯�젰 �븘�뱶�뿉 �룷而ㅼ뒪瑜� 諛쏆쓣 �븣 �뀒�몢由� �뒪���씪 蹂�寃�
input[type="time"]:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

媛� �슂�냼�쓽 �궡遺� �뿬諛� �꽕�젙
div, th, td {
  padding: 8px; �궡遺� �슂�냼�쓽 �뙣�뵫�쓣 議곗젙�빀�땲�떎.
}

 #map {
            width: 900px;
            height: 400px;
}

.map_wrap, .map_wrap * {margin:0; padding:0;font-family:'Malgun Gothic',dotum,'�룍��',sans-serif;font-size:12px;}
.map_wrap {position:relative;width:100%;height:350px;}
#category {position:absolute;top:10px;left:10px;border-radius: 5px; border:1px solid #909090;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);background: #fff;overflow: hidden;z-index: 2;}
#category li {float:left;list-style: none;width:50px;px;border-right:1px solid #acacac;padding:6px 0;text-align: center; cursor: pointer;}
#category li.on {background: #eee;}
#category li:hover {background: #ffe6e6;border-left:1px solid #acacac;margin-left: -1px;}
#category li:last-child{margin-right:0;border-right:0;}
#category li span {display: block;margin:0 auto 3px;width:27px;height: 28px;}
#category li .category_bg {background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_category.png) no-repeat;}
#category li .bank {background-position: -10px 0;}
#category li .mart {background-position: -10px -36px;}
#category li .pharmacy {background-position: -10px -72px;}
#category li .oil {background-position: -10px -108px;}
#category li .cafe {background-position: -10px -144px;}
#category li .store {background-position: -10px -180px;}
#category li.on .category_bg {background-position-x:-46px;}
.placeinfo_wrap {position:absolute;bottom:28px;left:-150px;width:300px;}
.placeinfo {position:relative;width:100%;border-radius:6px;border: 1px solid #ccc;border-bottom:2px solid #ddd;padding-bottom: 10px;background: #fff;}
.placeinfo:nth-of-type(n) {border:0; box-shadow:0px 1px 2px #888;}
.placeinfo_wrap .after {content:'';position:relative;margin-left:-12px;left:50%;width:22px;height:12px;background:url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')}
.placeinfo a, .placeinfo a:hover, .placeinfo a:active{color:#fff;text-decoration: none;}
.placeinfo a, .placeinfo span {display: block;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.placeinfo span {margin:5px 5px 0 5px;cursor: default;font-size:13px;}
.placeinfo .title {font-weight: bold; font-size:14px;border-radius: 6px 6px 0 0;margin: -1px -1px 0 -1px;padding:10px; color: #fff;background: #d95050;background: #d95050 url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png) no-repeat right 14px center;}
.placeinfo .tel {color:#0f7833;}
.placeinfo .jibun {color:#999;font-size:11px;margin-top:0;}
*/
/* �럹�씠吏� */
.paging{
   list-style-type:none;
   display:flex;
   justify-content: center;    
}
.paging li{
    font-size:16px;
    margin-left:5px;
    margin-right:5px;
}
.paging li a{
    color:#434c53;
    padding:3px 10px;
}
.paging li a:hover,
.paging li a.active{
    background:#434c53;
    border-radius:5px;
    color:#fff;
    text-decoration:none;
}
寃��깋
.searchform{
    width:40%;
    margin-left:auto;
    margin-right:auto;
}
.dropdown-menu{
    min-width:95%;
}
.dropdown-item{
   padding: 0.25rem 1.1rem;
}
.input-group-prepend{
    position: relative;
}


/************* 예약확인 myPage4  ***************/
.res_contents{
    display: flex;
width: 710px;
padding: 48px 0px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 32px;
border-radius: 8px;
border: 1px solid var(--mono-color-ccc, #CCC);
background: #FFF;
}
.Candle_img{
    display: flex;
width: 48px;
height: 48px;
justify-content: center;
align-items: center;
flex-shrink: 0;
}
.res_content_btn{
    display: flex;
    width: 348px;
    padding: 15px 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 8px;
    background: var(--main-color-100, #FF4147);
    color: var(--mono-color-fff, #FFF);
    text-align: center;

    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; /* 137.5% */
    letter-spacing: -0.064px;
}
.res_onbox{
    display: flex;
flex-direction: column;
align-items: flex-start;
align-self: stretch;
}

.res_onbox>div:first-of-type{
    display: flex;
padding: 8px 20px;
align-items: center;
gap: 4px;
align-self: stretch;
border-radius: 8px 8px 0px 0px;
background: var(--main-color-100, #FF4147);
color: var(--mono-color-fff, #FFF);
text-align: center;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 17px; /* 141.667% */
letter-spacing: -0.048px;
}
.res_onbox>div:last-of-type{
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    border-radius: 0px 0px 8px 8px;
    border-right: 1px solid var(--mono-color-e-6-e-6-e-6, #E6E6E6);
    border-bottom: 1px solid var(--mono-color-e-6-e-6-e-6, #E6E6E6);
    border-left: 1px solid var(--mono-color-e-6-e-6-e-6, #E6E6E6);
    background: var(--mono-color-fff, #FFF);
    color: var(--mono-color-333, #333);
}
.res_info{
    display: flex;
align-items: flex-start;
gap: 32px;
flex: 1 0 0;
color: var(--mono-color-808080, #808080);
text-align: center;

font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
letter-spacing: -0.056px;
}
.res_info>div:first-of-type{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    flex: 1 0 0;
}
.res_info>div:first-of-type>div:last-of-type{
    color: var(--main-color-100, #FF4147);
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 22px; /* 137.5% */
letter-spacing: -0.064px;
}
.res_title{
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--mono-color-333, #333);
    text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 25px; /* 138.889% */
letter-spacing: -0.072px;
}
.res_title>div:first-of-type{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--mono-color-333, #333);
    text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 25px; /* 138.889% */
letter-spacing: -0.072px;
margin-bottom: 3px;
}
.res_tag{
    display: flex;
padding: 3px 8px;
justify-content: center;
align-items: center;
border-radius: 1000px;
border: 1px solid var(--mono-color-ccc, #CCC);
color: var(--mono-color-333, #333);
text-align: center;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 17px; /* 141.667% */
letter-spacing: -0.048px;
}
.res_addr{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    overflow: hidden;
color: var(--mono-color-333, #333);
text-overflow: ellipsis;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 22px; /* 137.5% */
letter-spacing: -0.064px;
}
.res_btn{
    display: flex;
    width: 100px;
    padding: 8px 14px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 8px;
border: 1px solid var(--main-color-100, #FF4147);
background: var(--mono-color-fff, #FFF);
flex: 1 0 0;
color: var(--main-color-100, #FF4147);
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 22px; /* 137.5% */
letter-spacing: -0.064px;
}
.res_rt_btn{
    display: flex;
    width: 100px;
    padding: 8px 14px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 8px;
background: var(--main-color-100, #FF4147);
flex: 1 0 0;
color: var(--mono-color-fff, #FFF);
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 22px; /* 137.5% */
letter-spacing: -0.064px;
}
.res_rv_btn{
    display: flex;
    width: 100px;
    padding: 8px 14px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 8px;
border: 1px solid var(--mono-color-e-6-e-6-e-6, #E6E6E6);
background: var(--mono-color-fff, #FFF);
flex: 1 0 0;
color: var(--mono-color-333, #333);
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 22px; /* 137.5% */
letter-spacing: -0.064px;
}
.res_cs_btn{
    display: flex;
    width: 100px;
    padding: 8px 14px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 8px;
border: 1px solid var(--mono-color-e-6-e-6-e-6, #E6E6E6);
background: var(--mono-color-fafafa, #FAFAFA);
flex: 1 0 0;
color: var(--mono-color-ccc, #CCC);
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 22px; /* 137.5% */
letter-spacing: -0.064px;
}

.res_non_border{
    border:0 !important;
    background: var(--mono-color-fafafa, #FAFAFA);
    padding: 0 !important;
}
.res_offbox{
    display: flex;
flex-direction: column;
align-items: flex-start;
align-self: stretch;
}
.res_offbox>div:last-of-type{
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid var(--mono-color-e-6-e-6-e-6, #E6E6E6);
    background: var(--mono-color-fff, #FFF);
    color: var(--mono-color-333, #333);
}
.Candle_img{
    display: flex;
width: 48px;
height: 48px;
justify-content: center;
align-items: center;
flex-shrink: 0;
}
.res_page{
    display: flex;
justify-content: center;
align-items: center;
gap: 2.002px;
border-radius: 6px;
}
.res_icon_a{
    display: flex;
    width: 33px;
    height: 33px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.res_icon_c{
    display: flex;
width: 32.998px;
height: 32.998px;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 6px;
background: var(--main-color-100, #FF4147);
}
.res_cpage{
    color: var(--mono-color-fff, #FFF);
    font-family: "Pretendard Variable";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px; /* 135.714% */
}