<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<!--mapper에서 매칭할 parmeter Type 별칭 설정-->
	<typeAliases>
		<typeAlias type="com.pk.dto.MemberDto" alias="memberDto"/>
		 <typeAlias type="com.pk.dto.RestaurantDto" alias="restDto" />
		 <typeAlias type="com.pk.dto.MenuDto" alias="menuDto" />
		 <typeAlias type="com.pk.dto.RestUploadFileDto" alias="ruploadDto" />
		 <typeAlias type="com.pk.dto.MenuUploadFileDto" alias="muploadDto" />
		 <typeAlias type="com.pk.dto.ReviewDto" alias="reviewDto" />
	</typeAliases>
</configuration>